/* app css stylesheet */

body {
	padding-top: 20px;
	background-color: #404853;

	font-size: smaller;
	font-family: Courier New, Courier;
	color: white;
}

h1 {
  border-bottom: 1px solid gray;
}

/** Weeks **/
.weekDays {
    padding-left: 1em;
}
.dayEditor {
    margin-left: -1em;
}
/** Top Nav **/

.navbar-fixed-top, .navbar-fixed-bottom{
	position:fixed;
	right:0;
	left:0;
	z-index:1030;
	margin-bottom:0;
}
.navbar-fixed-top .navbar-inner,.navbar-fixed-bottom .navbar-inner{
	padding-left:0;
	padding-right:0;
	-webkit-border-radius:0;
	-moz-border-radius:0;
	border-radius:0;
}
.navbar-fixed-top .container,.navbar-fixed-bottom .container {
	width:940px;
}
.navbar-fixed-top { 
    top: 0;
    border-bottom: 1px solid x444;
    padding: 0.5em;
    background: #999;
}
.navbar-fixed-bottom{ bottom: 0; }

.navbar-fixed-top span {
    font-size: x-large;
    padding-left: 1em;
    padding-top: 0;
    white-space: nowrap;
    overflow: hidden;
    display: block;
    text-decoration: underline;
}
.navbar-fixed-top .optButtons {
    float: right;
    padding-right: 3em;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}
.navbar-fixed-top .optButtons ul {
    margin: 0;
    padding: 0;
    padding-bottom: 1px;
    list-style: none;
}

.navbar-fixed-top li {
    display: inline;
    border: 1px solid white;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
	cursor: pointer;
}

.navbar-fixed-top li.selected {
    border-bottom: 1px solid #777;
    background-color: #777;
	background: -moz-linear-gradient(left, #999, #777);
	background: -ms-linear-gradient(left, #999, #777);
	background: -o-linear-gradient(left, #999, #777);
    background: -webkit-linear-gradient(top, #999, #777);
    background: linear-gradient(left, #999, #777);
}

.main {
    margin-top: 2em;
}

/** Dropdown box **/

.dropdown-menu.open {
	display: block;
}
.dropdown-menu {
    position: absolute;
    top: 100%;
    right:0;
    z-index:2000;
    display: none;
    padding: 1em;
    margin-top:-0.5em;
    margin-bottom: 2em;
    margin-left: 1em;
    margin-right: 1em;
    background-color: #777;
    border: none;
    -webkit-border-radius:0 0 5px 5px;
    -moz-border-radius:0 0 5px 5px;
    border-radius:0 0 5px 5px;
    -webkit-box-shadow:0 5px 10px rgba(0, 0, 0, 0.2);
    -moz-box-shadow:0 5px 10px rgba(0, 0, 0, 0.2);
    box-shadow:0 5px 10px rgba(0, 0, 0, 0.2);
    *border-right-width:2px;
    *border-bottom-width:2px;
}


/** Settings **/

.settingsContainer {
	margin: 2em;
	padding: 1em;
	background-color: #777;
}
.setting {
	/*border: 1px solid white;*/
	margin-bottom: 1.5em
}
.title {
	font-size: x-large;
	border-bottom: 1px solid white;
}
.entry {
	float: left;
	width: 40%;
}
.hint {
	float: right;
	width: 60%;
/*	border: 1px solid blue; */
}
.clear {
	clear: both;
}
p {
	margin: 4px;
}
label {
    white-space: nowrap;
    display: block;
    width: 100%;
}

/** Mark Table **/

.marktable {
  border-collapse: collapse;
  margin-bottom: 1em;
}

.marktable td, .marktable th {
	border: 1px solid white;
	border-right: none;
	font-weight: normal;
	empty-cells: show;
	width: 1.5em;
	min-width: 1.5em;
}
.marktable th {
    border-right: 1px solid white;
}

.markcell, .summarycell { 
	vertical-align: middle; 
	text-align: center; 
}
.marktable .even {
    border-left: none;
	border-right: 1px solid white;
}
.markcell, .button { 
	cursor: pointer;
}
.summarycell { 
	color: #40f000;
}
.overflow { 
	color: #f00000;
}

.hourFloat {
    display: block;
    width: 1em;
}

/* Time banding */

.time-12 {
    background: #c0c000;
	background: -moz-linear-gradient(left, #c0c000, #666);
	background: -ms-linear-gradient(left, #c0c000, #666);
	background: -o-linear-gradient(left, #c0c000, #666);
    background: -webkit-linear-gradient(left, #c0c000, #666);
    background: linear-gradient(left, #c0c000, #666);
}

.work-0 .time-0, 
.work-0h .time-0h,
.work-1 .time-1, 
.work-1h .time-1h,
.work-2 .time-2, 
.work-2h .time-2h,
.work-3 .time-3, 
.work-3h .time-3h,
.work-4 .time-4, 
.work-4h .time-4h,
.work-5 .time-5, 
.work-5h .time-5h,
.work-6 .time-6, 
.work-6h .time-6h,
.work-7 .time-7, 
.work-7h .time-7h,
.work-8 .time-8, 
.work-8h .time-8h,
.work-9 .time-9, 
.work-9h .time-9h,
.work-10 .time-10, 
.work-10h .time-10h,
.work-11 .time-11, 
.work-11h .time-11h,
.work-12 .time-12, 
.work-12h .time-12h,
.work-13 .time-13, 
.work-13h .time-13h,
.work-14 .time-14, 
.work-14h .time-14h,
.work-15 .time-15, 
.work-15h .time-15h,
.work-16 .time-16, 
.work-16h .time-16h,
.work-17 .time-17, 
.work-17h .time-17h,
.work-18 .time-18, 
.work-18h .time-18h,
.work-19 .time-19, 
.work-19h .time-19h,
.work-20 .time-20, 
.work-20h .time-20h,
.work-21 .time-21,
.work-21h .time-21h,
.work-22 .time-22, 
.work-22h .time-22h,
.work-23 .time-23, 
.work-23h .time-23h
{
	background-color: #777;
}