<div ng-controller="ExportCtrl">
	<h2>What do you want to download</h2>
	<p>
		<label><input type="radio" name="exportWhat" ng-model="settings.exportWhat" value="tasks" />Tasks</label>
		<label><input type="radio" name="exportWhat" ng-model="settings.exportWhat" value="days"  />Days</label>
		<label><input type="radio" name="exportWhat" ng-model="settings.exportWhat" value="weeks" />Weeks</label>
		<label><input type="radio" name="exportWhat" ng-model="settings.exportWhat" value="all"   />All</label>
	</p>

	<p><button ng-click="doExport()">Export</button></p>

	<p><textarea ng-model="exportOutput"></textarea></p>

	<h2>What Dates?</h2>
	<p><label><input type="radio" name="exportWhat" />Tasks</label></p>
	<p><label><input type="radio" name="exportWhat" />Days</label></p>
	<p><label><input type="radio" name="exportWhat" />Weeks</label></p>

	<h2>What Format?</h2>
	<p><label><input type="radio" name="exportWhat" />Excel</label></p>
	<p><label><input type="radio" name="exportWhat" />Google Spreadsheet</label></p>
	<p><label><input type="radio" name="exportWhat" />CSV</label></p>

	<h2>Notes...</h2>
	<p>This is where the export options will appear:</p>
	<p>Export to Excel</p>
	<p>Export to Jira</p>
	<p>Export to Google Spreadsheet</p>
	<p>Export from start of Month</p>
	<p>Export a week</p>
	<p>Export from first full work week in month</p>
	<p>Export form first week to contain a work day in month</p>
</div>