<div ng-controller="ExportCtrl" class="exportTab">
	<h2>What do you want to download?</h2>
	<p>
		<label><input type="radio" name="exportWhat" ng-model="settings.exportWhat" value="tasks" />Tasks</label>
		<label><input type="radio" name="exportWhat" ng-model="settings.exportWhat" value="days"  />Days</label>
		<label><input type="radio" name="exportWhat" ng-model="settings.exportWhat" value="weeks" />Weeks</label>
		<label><input type="radio" name="exportWhat" ng-model="settings.exportWhat" value="all"   />All</label>
	</p>

	<h2>What Format?</h2>
	<p>
		<label><input type="radio" name="exportFormat" ng-model="settings.exportFormat" value="csv"/>CSV</label>
		<label><input type="radio" name="exportFormat" ng-model="settings.exportFormat" value="excel"/>Excel</label>
	</p>

	<p>
		<a download-data-as-file="makeDownload()">Export [&gt;&gt;]</a>
	</p>

	<div ng-switch on="debug">
		<div ng-switch-when="true">
			<h2>Debug</h2>
			<button ng-click="debugExport()" id="debugExport">Debug Export</button>
			<dl>
				<dt>debugExportFilename</dt>
				<dd><span id="debugExportFilename">{{debugExport.filename}}</span></dd>
				<dt>debugExportMimeType</dt>
				<dd><span id="debugExportMimeType">{{debugExport.mimeType}}</span></dd>
				<dt>debugExportData</dt>
				<dd><textarea ng-model="debugExport.data" id="debugExportData"></textarea></dd>
			</dl>
		</div>
	</div>

</div>