<div class="helpText">
	<p>Time Tracker provides a quick and simple way to record your time. Usually it just takes one click, and logs your time in your browser.</p>

	<h2>The Time Grid</h2>
	<p>For each day, the site presents a grid for the day. Like the one shown below:</p>
	<p align="center"><img src="img/example_day.png" alt="example day" width="627" height="226" /></p>
	<p>Inside the time grid, click once to insert &#x25C9; for a full half-hour.</p>
	<p>Clicking again turns the mark into a &#x25D0; for quarter-of-an-hour. Clicking again removes the mark.</p>
	<p>The 'Summary' line shows a green <span class="summarycell">&#x25C9;</span> or <span class="summarycell">&#x25D0;</span> if there's time recorded above. If you record more than half-an-hour, then a red <span class="summarycell overflow">&#x25C8;</span> is shown.</p>
	<p>A set of tasks are on the left; you can write anything here you want. You can add more tasks by clicing the [+] button. You can delete tasks with the [X] butons.</p>
	<p>The Yellow line shows the current time; the grey background shows your normal working hours. You can show earlier hours by clicking [&lt;] or later hours by clicking [&gt;] -- see the Settings to change your normal working horus.</p>

	<h2>Days and Weeks</h2>
	<p>The Day Comment allows you to write something memorable about the day, like "Xmas Party" or "Vacation".</p>
	<p>Days are grouped into weeks, showing he ISO week number.</p>
	<p>The [+] and [-] buttons show or hide the details of a day.</p>

	<h2>Week and Month Navigation</h2>
	<p>At the top of the window are three controls over the weeks displayed:</p>
	<p align="center"><img src="img/example_controls.png" alt="example day" width="410" height="87" /></p>
	<p>Clicking [&lt;] shows another week back in time; clicking [&lt;&lt;] shows the whole month.</p>
	<p>To hide all the weeks apart from the current one, click [X].</p>
	<p>A new week will appear automatically at midnight on Monday.</p>

	<h2>Notifications</h2>
	<p>Use the Settings button to enable notifications:</p>
	<p align="center"><img src="img/example_notification.png" alt="example day" width="325" height="88" /></p>
	<p>The notification window appars when you've got time to fill in. Clicking inside the notification brings the Time Tracker to the front.</p>
	<p>(you must keep the Time Tracker website open for notifications to work)</p>

	<h2>Where's my data stored?</h2>
	<p>The information you enter is stored on your computer, and not sent over the internet at all.</p>
	<p>However, you must be careful when deleting your browser history. Time Tracker uses 'localStorage' and that can be deleted if you're not careful. Always remember to back up your computer!</p>
	<p>The Export tab allows you to export your data to a spreadsheet.</p>

	<h2>More Information</h2>
	<p>Development information is on Github at: <a href="https://github.com/piranm/timetracker">https://github.com/piranm/timetracker</a>.</p>
</div>