<div>
	<p>
		Development information is on Github at: <a href="https://github.com/piranm/timetracker">https://github.com/piranm/timetracker</a>.
	</p>
	<p>This will be where the Help text will appear.</p>
	<p>This will be where the Help text will appear.</p>
	<p>This will be where the Help text will appear.</p>
	<p>This will be where the Help text will appear.</p>
	<p>This will be where the Help text will appear.</p>
	<p>This will be where the Help text will appear.</p>
	<p>This will be where the Help text will appear.</p>
	<p>This will be where the Help text will appear.</p>
</div>