<div ng-controller="TopNavCtrl">
<div class="navbar-fixed-top">
	<div class="optButtons">
		<div ng-class="showInDropdown | choice:'||background-hider'" ng-click="showDropdown('',$event)"></div>
		<ul class="optButtonsList">
			<li ng-class="showInDropdown | choice:'settings|selected|'" 
			    ng-click="showDropdown('settings',$event)">Settings</li>
			<li ng-class="showInDropdown | choice:'export|selected|'" 
			    ng-click="showDropdown('export',$event)">Export</li>
			<li ng-class="showInDropdown | choice:'help|selected|'"
			    ng-click="showDropdown('help',$event)">?</li>
		</ul>
			<div class="dropdown-menu" ng-class="showInDropdown | choice:'||open'">
				<div track-window-size="h-mid" class="dropdown-menu-contents">
					<div class="inner" ng-switch on="showInDropdown">
						<div ng-switch-when="settings" ng-include="'partials/settings.html'" ></div>
						<div ng-switch-when="export" ng-include="'partials/export.html'" ></div>
						<div ng-switch-when="help" ng-include="'partials/help.html'" ></div>
					</div>
				</div>
			</div>
	</div>
	<div class="nameTitle" ng-click="showDropdown('',$event)">{{settings.name}}</div>
</div>
</div>