<dl>
	<dt>atattr</dt>
		<dd>{{atattr}} <button ng-click="atattr.counter = 1000">Set counter to 1000</button></dd>
	<dt>atattr.counter</dt>
		<dd>{{atattr.counter}} <button ng-click="atattr.counter = atattr.counter + 1">Increment</button></dd>
	<dt>equalattr.counter</dt>
		<dd>{{equalattr.counter}} <button ng-click="equalattr.counter = equalattr.counter + 1">Increment</button></dd>
	<dt>andattr</dt>
		<dd><button ng-click="andattr()">Click</button></dd>
	<dt>undecoratedattr</dt>
		<dd>{{undecoratedattr}}</dd>
	<dt>unknonwnattr</dt>
		<dd>{{unknonwnattr}}</dd>
	<dt>inner</dt>
		<dd>{{inner}} <button ng-click="inner.counter = 1000">Set counter to 1000</button></dd>
	<dt>inner.counter</dt>
		<dd>{{inner.counter}} <button ng-click="inner.counter = inner.counter + 1">Increment</button></dd>
</dl>
